* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f5e5e;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #252525;
}

header {
    height: 6%;
    width: 100%;
}

.nav-bar {
    height: 100%;
    padding: 10px 40px 10px 20px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.left-section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.heading {
    color: azure;
}

.right-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.theme-btn {
    height: 100%;
}

.profile-btn {
    height: 100%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

img {
    height: 100%;
}


/* Main Section */
main {
    flex: 1;
    width: 100%;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
}

.join-box {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.join-box button {
    border: none;
    height: 100%;
    flex: 1;
    border-radius: 20px;
    background-color: rgb(83, 106, 237);
    color: white;
    font-size: 17px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.join-box button img {
    height: 45%;
}

.join-box button:hover {
    background-color: rgb(39, 58, 166);
    border: 1px solid white;
}

/* Content Section */
.main-box {
    max-height: 70vh;
    width: 80%;
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.content-box h2 {
    font-size: 2.7rem;
    color: #6a7dde;
    text-align: center;
}

.content-box p {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

/* Project List */
.project-list {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.project-box {
    height: 120px;
    width: 260px;
    background-image: linear-gradient(to right, #535a6c 0%, #777e8d 51%, #535a6c 100%);
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-box:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.project-menu {
    height: 27px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 5px;
}

.project-menu:hover {
    background-color: whitesmoke;
}

.item {
    flex: 1;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    overflow: hidden;
}

/* Project Menu */
.menu-items {
    height: 60px;
    width: 100px;
    position: absolute;
    top: 30px;
    right: -15%;
    visibility: hidden;
}

.menu-items button {
    height: 50%;
    width: 100%;
    border: none;
    background-color: #323232;
    color: rgb(247, 100, 100);
    padding: 5px;
    border-bottom: 1px solid rgb(136, 135, 135);
}

.menu-items button:hover {
    background-color: #64646e;
}

/* Profile Menu */
.profileDropdown {
    height: 250px;
    width: 300px;
    position: fixed;
    top: 7%;
    right: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 0.1px solid rgb(87, 87, 87);
    z-index: 10;
}

.userData {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.userData img {
    height: 55%;
}

.userData p {
    font-size: 1.3rem;
    color: whitesmoke;
}

#userEmail {
    font-size: 1.1rem;
}

.alterData {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alterData a {
    height: 30px;
    width: 100%;
    padding: 5px 20px;
    background-color: #2e2e2e;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
}

.alterData a:hover {
    background-color: #64646e;
    ;
}

.alterData a img {
    height: 100%;
}

/* Edit From */
.edit-form {
    z-index: -10;
    opacity: 0;
    position: absolute;
    height: 520px;
    width: 400px;
    background-color: #2e2e2e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.close-box {
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#close-edit {
    height: 100%;
    border-radius: 50%;
}

#close-edit:hover {
    border: 1px solid white;
}

.edit-form form {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 20px;
}

.form-control {
    width: 100%;
}


.form-control label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-control input[type="text"] {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
}

#email {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
}

.profile-selector-btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#defaultUser {
    height: 100%;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

#photo-camera {
    height: 30%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.profile-selector-btn:hover #defaultUser {
    opacity: 0.3;
}

.profile-selector-btn:hover #photo-camera {
    opacity: 1;
}

.profile-menu {
    height: 70px;
    width: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    visibility: hidden;
    cursor: pointer;
}

.profile-menu div {
    height: 50%;
    width: 100%;
    background-color: #333333;
    color: white;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defaultProfile {
    border-bottom: 1px solid black;
}

.profile-menu div:hover {
    background-color: #111111;
}

.save-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #5cb85c;
    color: white;
    font-size: large;
    font-weight: 600;
    border: 0;
}

.save-btn:hover {
    background: #43de43;
}

/* Avatar Form */
.choose-avatar {
    width: 450px;
    height: 500px;
    background-color: #393939;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 20px;
    opacity: 0;
    z-index: -9;
}

.top-section {
    height: 10%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-section img {
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.top-section img:hover {
    border: 1px solid white;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
    padding: 40px;
    cursor: pointer;
}

.avatar-container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.avatar-container img {
    height: 100%;
}

.avatar-container:hover {
    border: 4px solid white;
}

/* Create project menu */
.project-window {
    z-index: -5;
    opacity: 0;
    position: absolute;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.window-title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1f1f1f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.window-title h2 {
    font-size: 2rem;
    color: whitesmoke;
}

.project-window form {
    flex: 1;
    width: 100%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    color: whitesmoke;
}

.project-id-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.project-id-form input[type="text"] {
    height: 40px;
    flex: 1;
    font-size: 15px;
    padding: 5px;
}

#copy-projectId {
    height: 40px;
    width: 40px;
    padding: 7px;
    text-decoration: none;
    background-color: rgb(145, 145, 145);
    border: 1px solid rgb(201, 201, 201);
    cursor: pointer;
}

#copy-projectId:hover {
    background-color: rgb(205, 205, 205);
}

#copy-projectId img {
    height: 100%;
}

#copy-projectId .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

#copy-projectId .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copy-projectId:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.form-control p {
    margin-top: 5px;
}

#generate-projectId {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    color: #5cb85c;
}

#generate-projectId:hover {
    text-decoration: underline;
    color: #43de43;
}

.add-people-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#lang-selection {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.form-btn {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.form-btn a {
    height: 100%;
    flex: 1;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: default;
}

.form-btn button {
    height: 100%;
    flex: 1;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form-btn button:hover {
    background-color: #43de43;
}

.form-btn a:hover {
    background-color: gray;
}

.alertMessage {
    color: red;
}


/* Exit Project Form */
.leaveForm {
    z-index: -100;
    opacity: 0;
    position: absolute;
    height: 350px;
    width: 300px;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.exit-message {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 10px;
}

.exit-message img {
    height: 30px;
}

.exitForm-btns {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#cancel-exit {
    border: none;
    height: 100%;
    flex: 1;
    background-color: whitesmoke;
    color: #252525;
    border-radius: 5px;
    font-size: 16px;
}

.exitForm-btns form {
    height: 100%;
    flex: 1;
}

.exitForm-btns form button {
    border: none;
    height: 100%;
    width: 100%;
    background-color: rgb(234, 88, 88);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
}

.exitForm-btns form button:hover {
    background-color: red;
}

#cancel-exit:hover {
    background-color: gray;
}

/* Don't Have Delete Accsess Form */
.dhdaForm {
    z-index: -100;
    opacity: 0;
    position: absolute;
    height: 350px;
    width: 300px;
    background-color: #393939;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 17px;
    color: whitesmoke;
}

.dhdaMessage {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dhdaMessage img {
    height: 25px;
}

.dhdaMessage p {
    font-size: 17px;
    text-align: justify;
}

#dhdaClose {
    height: 35px;
    width: 80%;
    border: none;
    background-color: whitesmoke;
    color: #252525;
    border-radius: 5px;
    font-size: 16px;
}

#dhdaClose:hover {
    background-color: gray;
}

/* Delete Form */
.deleteForm {
    z-index: -100;
    opacity: 0;
    position: absolute;
    height: 400px;
    width: 350px;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 17px;
    color: whitesmoke;
}

.cancelDelete {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.cancelDelete img {
    height: 100%;
    border-radius: 50%;
}

.cancelDelete img:hover {
    border: 1px solid whitesmoke;
}

.deleteMessage {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteMessage img {
    height: 30px;
}

.confirmDelete {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#confirmText {
    height: 30px;
    width: 100%;
    background-color: #111111;
    border: 1px solid rgb(234, 91, 91);
    color: whitesmoke;
    border-radius: 5px;
}

#confirmText:focus {
    outline: none !important;
    border: 1px solid rgb(30, 99, 218);
}

.confirmDelete form {
    height: 30px;
    width: 100%;
}

.deleteProjectBtn {
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    background-color: #212121;
    color: rgb(234, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.enabledBtn {
    background-color: rgb(74, 74, 85);
    color: rgb(255, 0, 0);
}

.enabledBtn:hover {
    background-color: rgb(85, 85, 97);
    color: rgb(233, 50, 50);
}

/* Project Exit or Delete Alert  */
.pedAlert {
    z-index: -100;
    opacity: 0;
    position: absolute;
    top: 10px;
    height: 45px;
    padding: 5px;
    background-color: rgb(249, 255, 249);
    color: rgb(0, 229, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid gray;
    box-shadow: 0 0 15px whitesmoke;
    border-radius: 5px;
}

/* Profile Menu */
.hidden {
    visibility: hidden;
    z-index: -1;
}

/* Show Project Menu */
/* Edit Form */
.visible {
    opacity: 1;
    z-index: 10;
}

/* Main Area */
.blur {
    opacity: 0.3;
    z-index: -200;
}

/* Z index 200 */
.zindex-200 {
    z-index: -200;
    opacity: 0.3;
}

/* Edit Profile */
.show {
    z-index: 10;
    visibility: visible;
}

/* Avatar Menu */
.showAvatar {
    opacity: 1;
    z-index: 11;
}

@media (max-width: 750px) {
    .join-container {
        width: 75%;
    }

    .choose-avatar {
        width: 80%;
    }
}